<!DOCTYPE html>
<html>
<head>
  <title>Competitive Sudoku - Play with Friends!</title>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="775098363061-lkohsupu1sdsv0k51gnkvdhmal1a1f25.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- /////////////////////////////////////////////////////////// -->
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/dist/components/icon.css">

  <script src="Semantic-UI-CSS-master/dist/components/form.js"></script>
  <script src="Semantic-UI-CSS-master/dist/components/transition.js"></script>
  <script type="text/javascript" src="../js/login.js"></script>

  <link rel="stylesheet" type="text/css" href="../css/login.css">

</head>
<body>
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui simple dropdown item">
      More
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
    <div class="right item">
      <div class="ui input"><input type="text" placeholder="Search for a room..."></div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////// -->
<h3 id="checker1"> </h3>
<a href="#" class = 'button-0' onclick="signOut();">Sign out</a>
</div>
<!-- ////////////////////////////////////////////////// -->
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="images/logo2.png" class="image">
      <div class="content">
        Competitive Sudoku - Play with Friends!
      </div>
    </h2>
    <form class="ui large form" action="" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>
      <div class="ui error message"></div>

    </form>

    <div class="ui message">
     <div class="ui fluid large teal submit button"><a href="/board"> Play as Guest</a></div>
      New to us? <a href="/signup">Sign Up</a>
    </div>

    <div class="ui message">
      Sign in with Google 
      <br> <br>
      <center><div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"><center>
    </div>
  </div>
</div>


</body>
</html>